<div class="declaration{% if func.inherited %} inherited{% endif %}" id="func-{{ urlprefix }}{{ func.uniqueSignatureURL }}">
<a class="toggle-link" data-toggle="collapse" href="#comment-func-{{ urlprefix }}{{ func.uniqueSignatureURL }}">{{ func.attr | withSpaceAfter }}{{ func.note | withSpaceAfter }}{{ func.place | withSpaceAfter }}func {{ func.uniqueSignature | escape | addSoftBreaks }}</a>
    {% if func.defaultImplementation == false %} <span class="required">Required</span>{% endif %}
    
<div class="comment collapse" id="comment-func-{{ urlprefix }}{{ func.uniqueSignatureURL }}"><div class="p">
    {{ func.comment | rst }}

    <h4>Declaration</h4>    
    <code class="language-swift">{{ func.declaration | escape }}</code>
    
    {% if func.implementationSource %}
    <h4>Declared In</h4>
    {% for source in func.implementationSource %}{% if loop.index != 1 %},{% endif %}
    <a href="../../protocol/{{ source }}/"><code>{{ source }}</code></a>{% endfor %}
    {% endif %}

</div></div>
</div>
