    <div class="container-fluid home-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            
          <article class="content">
            <h2>Types</h2>

            {% include 'index-type.html' with { items: types, path : 'type' } %}
          </article>

        </div><!-- content -->
      </div><!-- row -->
    </div><!-- cont -->
    </div><!-- cont -->

    <div class="container-fluid home-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            
          <article class="content">
            <h2>Protocols</h2>

            {% include 'index-type.html' with { items : protocols, path : 'protocol' } %}
          </article>

        </div><!-- content -->
      </div><!-- row -->
    </div><!-- cont -->
    </div><!-- cont -->

    <div class="container-fluid home-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            
          <article class="content">
            <h2>Operators</h2>

            {% include 'index-operator.html' %}
          </article>

        </div><!-- content -->
      </div><!-- row -->
    </div><!-- cont -->
    </div><!-- cont -->

    <div class="container-fluid home-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            
          <article class="content">
            <h2>Globals</h2>

            {% include 'index-global.html' %}
          </article>

        </div><!-- content -->
      </div><!-- row -->
    </div><!-- cont -->
    </div><!-- cont -->
