{% if imp.inits or imp.properties or imp.subscripts or imp.functions %}

{% set urlprefix = imp.urlprefix %}

{% if imp.conforming != '*' %}
<h4>Where {{ imp.conforming }}</h4>
{% endif %}

{% for init in imp.inits %}
{% include 'init.html' %}
{% endfor %}

{% for var in imp.properties %}
{% include 'var.html' %}
{% endfor %}

{% for sub in imp.subscripts %}
{% include 'subscript-include.html' %}
{% endfor %}

{% for func in imp.functions %}
{% include 'func-include.html' %}
{% endfor %}

{% endif %}
