<div class="intro-declaration"><code class="language-swift">{{ type.kind }} {{ type.name }}{% include 'generic.html' with { func: type } only %}</code></div>

{% if type.comment is not empty %}
<div class="discussion comment">
    {{ type.comment | rst }}
</div>
{% endif %}

<table class="standard">
{% if type.inherits is not empty or hasHierarchy %}
<tr>
<th id="inheritance">Inheritance</th>
<td>
{% if type.allInherits is not empty %}
<code class="inherits">{% for inh in type.allInherits %}{{ inh }}{% if true != loop.last %}, {% endif %}{% endfor %}</code>
{% endif %}
{% if hasHierarchy %}
<span class="viz"><a href="hierarchy/">View Protocol Hierarchy &rarr;</a></span>
{% endif %}
</td>
</tr>
{% endif %}

{% if type.aliases is not empty %}
<tr>
<th id="aliases">Associated Types</th>
<td>
<span id="aliasesmark"></span>
{% for alias in type.aliases %}
<div class="declaration{% if alias.inherited %} inherited{% endif %}">
<code class="language-swift">typealias {{ alias.name | escape }}{% if alias.proto %} : {{ alias.proto | escape }}{% endif %}{% if alias.type %} = {{ alias.type | escape }}{% endif %}</code>
{% if alias.comment %}
<div class="comment">
    {{ alias.comment | rst }}
</div>
{% endif %}
</div>
{% endfor %}
</td>
</tr>
{% endif %}

{% if type.types is not empty %}
<tr>
<th>Nested Types</th>
<td><code class="nested">{% for nested in type.types %}{{ nested }}{% if true != loop.last %}, {% endif %}{% endfor %}</code></td>
</tr>
{% endif %}

<tr>
<th>Import</th>
<td><code class="language-swift">import Swift</code></td>
</tr>

</table>

{% if type.cases is not empty %}
<h3 id="cases">Cases</h3>
{% for case in type.cases %}
{% include 'case.html' %}
{% endfor %}
{% endif %}

{% if type.inits is not empty %}
<h3>Initializers</h3>
{% for init in type.inits %}
{% include 'init.html' %}
{% endfor %}
{% endif %}

{% if type.properties | static is not empty %}
<h3>Static Variables</h3>
{% for var in type.properties | static %}
{% include 'var.html' %}
{% endfor %}
{% endif %}

{% if type.properties | instance is not empty %}
<h3>Instance Variables</h3>
{% for var in type.properties | instance %}
{% include 'var.html' %}
{% endfor %}
{% endif %}

{% if type.subscripts is not empty %}
<h3>Subscripts</h3>
{% for sub in type.subscripts %}
{% include 'subscript-include.html' %}
{% endfor %}
{% endif %}

{% if type.functions | static is not empty %}
<h3>Static Methods</h3>
{% for func in type.functions | static %}
{% include 'func-include.html' %}
{% endfor %}
{% endif %}

{% if type.functions | instance is not empty %}
<h3>Instance Methods</h3>
{% for func in type.functions | instance %}
{% include 'func-include.html' %}
{% endfor %}
{% endif %}

{% if type.operators is not empty %}
<h3>Operators</h3>
{% for op in type.operators %}
{% for func in op.declarations %}
{% include 'func-include.html' %}
{% endfor %}
{% endfor %}
{% endif %}

{% if type.imp is not empty %}
<h3>Default Implementations</h3>

{% include 'protocol-implementations.html' with { 'imp': type.imp["*"] } %}

{% for imp_key in type.imp|keys|sort %}
{% set imp = type.imp[imp_key] %}

{% if imp.conforming != '*' %}
{% include 'protocol-implementations.html' %}
{% endif %}

{% endfor %}

{% endif %}
